doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="keywords" content="刘祖安,刘祖安个人主页,web前端个人简历,web前端,刘祖安简历,前端个人博客,前端工程师")
        meta(name="description" content="刘祖安|前端工程师")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href=`/css/${css}.css`)
        title=`${article && article.title ? article.title + ' - ':''}刘祖安 | 博客`
    body
        include ./includes/head
        include ./includes/sidebar
        block content
        include ./includes/foot
        
        script.
            console.log('%c欢迎来到liuzuann.com','color:#fff;background: linear-gradient(to bottom right, red , blue, yellow);font-size:50px;padding:10px;')
            console.log('这里是刘祖安的成长记录，请多指教！')
        script(src="//cdn.liuzuann.com/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/index.js")
        
        if active_nav === 'about'
            script(src="/js/markdown.js")
            script(src="//cdn.liuzuann.com/libs/pagePiling.js/1.5.5/jquery.pagepiling.min.js")
        if script 
            script(src=`/js/${script}.js`)