extends ../layout/layout

block content
    .content#about
        main.main
            .about_me
                h1 刘祖安
                p liuzuann
                img(class='img_circle' src="/images/logo.JPG", alt="")
                p 前端开发工程师
                h3 个人简历 -> 
                    a(href='http://resume.liuzuann.com') 请戳这里
            .mark_dowm



