footer.footer Copyright © 2018 liuzuann.com All rights reserved | 
    a(href='/CMS' target='_blank') 内容管理
script.
    console.log('%c欢迎来到liuzuann.com','color:#fff;background: linear-gradient(to bottom right, red , blue, yellow);font-size:50px;padding:10px;')
    console.log('这里是刘祖安的成长记录，请多指教！')
script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
script(src="/js/index.js")
if active_nav === 'about'
    script(src="/js/markdown.js")
    script(src="https://cdn.bootcss.com/pagePiling.js/1.5.5/jquery.pagepiling.min.js")
if script 
    script(src=`/js/${script}.js`)