footer.footer 2018 © All Rights Reserved | 京ICP备18036363号 | 后台管理
script(src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js")
script(src="/js/index.js")

if active_nav === 'blog'
    script(src="/js/prettify.js")
    script.
        $(function(){
            $('pre').addClass('prettyprint linenums');
            prettyPrint();
        })
if active_nav === 'about'
    script(src="/js/markdown.js")
    script(src="/js/about.js")