header.header
  .container
    span(class='menu_icon')
      span(class='menu_icon_top')
        span(class='line')
      span(class='menu_icon_bottom')
        span(class='line')
    img(class='left' src='/images/logo.JPG' alt='')
    ul.right
      each val, index in {blog:'博客',source:'开源',gallery:'图库',message:'留言',about:'关于'}
        li
          a(class=active_nav===index?active_nav:'' href=`/${index==='blog'?'':index}`)= val
