doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="keywords" content="刘祖安,刘祖安个人主页,web前端个人简历,web前端,刘祖安简历,前端个人博客,前端工程师")
        meta(name="description" content="刘祖安|前端工程师")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href=`/css/${!active_nav?'error':active_nav==='blog'?'index':active_nav}.css`)
    title 刘祖安 | 博客
    body
        include head.pug
        block content
        include ../layout/sidebar
        include foot.pug


