extends ../layout

block content
    main.main#about
        section.part1.section
            .mark_dowm
        section.part2.section
        section.part3.section
        section.part4.section
    