header.header
  .container
    .left 
      img(src='https://github.com/liuzuan/index/blob/master/image/avatar.JPG?raw=true' alt='')
      span 前端小白
    ul.right
      li
        a(href='/') 博客
      li 
        a(href='/') 开源
      li 
        a(href='/') 图库
      li 
        a(href='/') 留言
      li 
        a(href='/') 关于

