@background_color: #f6f6f6;
@border_botttom: #f6f6f6;
@nav_color1: #f60;
@nav_color2: #d243ff;
@nav_color3: #c4c021;
@nav_color4: #269A92;
@nav_color5: #33ce6b;

// .generate_nav(@n, @i: 1) when (@i =< @n) {
//     a:nth-child(@{i}) {
//         &:hover {
//             color: @{color}@{i};
//         }
//     }
//     .generate_nav(@n, (@i + 1));
// }

.border_bottom {
    border-bottom: 1px solid @border_botttom;
}
