@import 'common.less';

#about {
    .main {
        min-height: ~'calc(100vh - 100px)';
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
        .panel {
            width: 400px;
            height: 500px;
            color: #fff;
            margin-top: 50px;
            background: #1ab394;
            padding: 20px 20px 20px 25px;
            border-radius: 5px 5px 0 0;
            box-shadow:  0 0 5px 0 #eee;
            h1 {
                padding-top: 20px;
                text-align: center;
            }
            h3 {
                position: relative;
                padding: 10px 0;
                &:before {
                    position: absolute;
                    left: -0.7em;
                    content: '#';
                    color: #fcf805;
                    padding-right: 0.5em;
                    font-size: 1.2em;
                    line-height: 1;
                    font-weight: bold;
                }
                a {
                    color: #fcf805;
                }
            }
            
        }
        .about_me {
            position: relative;
            .panel;
            float: left;
            p {
                font-size: 16px;
                text-align: center;
            }
            .img_circle {
                display: block;
                .img_cir(160px,160px);
                margin: 20px auto;
            }
            // .crad_bottom {
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100px;
            //     background: #fff;
            // }
            h3 {
                margin-top: 42px;
                text-align: center;
                &:before {
                    content: '';
                }
            }
        }
        .mark_dowm {
            .panel;
            float: right;
            p {
                text-indent: 25px;
                line-height: 1.5;
            }
            li {
                list-style-type: circle;
                list-style-position: inside;
                padding: 3px 0;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 900px) {
    #about {
        .main {
            .about_me {
                float: none;
                margin: 40px auto;
            }
            .mark_dowm {
                float: none;
                margin: 0 auto 20px;;
            }
        }
        .sidebar {
            display: block;
        }
    }
}
