@import 'common.less';

body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: @nav_color1;
}

#about {
    padding: 0;
    font-family: cursive;
    height: ~'calc(100vh - 44px)';
    .pp-section {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .pp-easing {
        -webkit-transition: all 1s cubic-bezier(0.55, 0.085, 0, 0.99);
        -moz-transition: all 1s cubic-bezier(0.55, 0.085, 0, 0.99);
        -o-transition: all 1s cubic-bezier(0.55, 0.085, 0, 0.99);
        transition: all 1s cubic-bezier(0.55, 0.085, 0, 0.99);
        -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
        -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
        -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
        transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
    }

    .pp-section.pp-table {
        display: table;
    }

    .pp-tableCell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }

    .part1 {
        background: #e55d87;
        background: -webkit-linear-gradient(to right, #5fc3e4, #e55d87);
        background: linear-gradient(to right, #5fc3e4, #e55d87);
        .mark_dowm {
            margin: 0 auto;
            max-width: 760px;
            color: #fff;
            line-height: 1.5;
            padding: 30px;
            h1 {
                text-align: center;
                letter-spacing: 0;
                font-size: 30px;
                margin-bottom: 20px;
                text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555,
                    0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
            }
            h3 {
                font-size: 24px;
                margin: 15px 0;
                padding-left: 5px;
                border-left: 5px solid @nav_color4;
            }
            p {
                text-indent: 25px;
            }
            ul,
            p {
                font-size: 20px;
            }
            a {
                color: @nav_color3;
                font-weight: 300;
                transition: color 0.3s;
                &:before {
                    content: '[';
                }
                &:after {
                    content: ']';
                }
                &:hover {
                    color: rgb(248, 220, 184);
                }
            }
        }
    }

    .part2 {
        background: #003973;
        background: -webkit-linear-gradient(to right, #e5e5be, #003973);
        background: linear-gradient(to right, #e5e5be, #003973);
    }

    .part3 {
        background: #cc95c0;
        background: -webkit-linear-gradient(to right, #7aa1d2, #dbd4b4, #cc95c0);
        background: linear-gradient(to right, #7aa1d2, #dbd4b4, #cc95c0);
    }

    .part4 {
        background: #74ebd5;
        background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
        background: linear-gradient(to right, #acb6e5, #74ebd5);
        
    }
}

#pp-nav {
    position: fixed;
    top: 50%;
    left: 0px;
    z-index: 100;
    margin-top: -22px !important;
    opacity: 1;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        width: 14px;
        height: 13px;
        margin: 7px;
        position: relative;
        a {
            display: block;
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
        }
        .active span {
            background: #333;
        }
    }
    span {
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border: 1px solid #000;
        background: rgba(0, 0, 0, 0);
        border-radius: 50%;
        position: absolute;
        z-index: 1;
    }
}

.pp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
}

.pp-tooltip.left {
    left: 20px;
}

.footer {
    display: none;
}

@media screen and (max-width: 900px) {
    // #about {
    //     .main {
    //         .about_me {
    //             float: none;
    //             margin: 40px auto;
    //         }
    //         .mark_dowm {
    //             float: none;
    //             margin: 0 auto 20px;
    //         }
    //     }
    // }
}
