@import 'common.less';
@import './hljs.less';

.sidebar {
    display: block;
}
#blog {
    max-width: 760px;
    margin: 0 auto;
    .article_list {
        .list_header {
            color: @red;
            padding: 0 0 15px;
            font-family: 'Chancery', cursive, LiSu, sans-serif;
            border-bottom: 1px solid @border_color;
        }
        .list_cell {
            padding: 10px 0;
            border-bottom: 1px dotted @border_color;
            .time {
                color: @sub_color;
            }
        }
    }
    .article_detail {
        .article_title {
            font-size: 27px;
            color: @red;
        }
        .sub_title {
            color: @sub_color;
        }
        .module-cmt-footer,
        .module-cmt-notice,
        .service-wrap-w,
        .cy-logo,
        .split-hr {
            display: none !important;
        }
    }
}

@media screen and (max-width: 1240px) {
    #blog {
        margin-left: 230px;
    }
}

@media screen and (max-width: 767px) {
    #blog {
        margin: auto;
    }
}
