@import 'common.less';

.sidebar {
    display: block;
}
#blog {
    max-width: 800px;
    height: 200vh;
    // background: #aaa;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    #blog {
        margin-left: 290px;
    }
}

@media screen and (max-width: 767px) {
    #blog {
        margin: auto;
    }
}
